.example-email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 66px;
  top: 45px;
  left: 18px;
  color: #797777;
  font-family: Red Hat Display, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 66px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.example-email input{

  font-family: Red Hat Display, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  top: 45px;
  left: 18px;
  width: 100%;
  padding: 0 5px;
  height: 66px;

  border: none;
  background: none;
  outline: none;
  }